# dependencies
node_modules

# next
.next
out

# production
dist
build

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
*.log

# testing
coverage

# vercel
.vercel
.env.vercel

# generated datasets
*.csv

# typescript
*.tsbuildinfo

# python cache
__pycache__/
*.pyc

.vercel
